---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .btn-blue {
    @apply py-2 px-5 bg-blue-450 text-white text-xl font-bold hover:bg-blue-700 focus:outline-none;
  }
  .btn-white {
    @apply py-2 px-5 bg-white text-blue-450 text-xl font-bold hover:bg-blue-200 focus:outline-none;
  }
}

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;}
  100% {border-radius: 40% 60%;}
}

@keyframes morphx {
  0% {border-radius: 45% 55% 35% 65% / 75% 25% 75% 25%;}
  100% {border-radius: 25% 75%;}
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

body {
	background-image: url("../img/blue_specks.svg");
	background-size: 1000px 1000px;
	background-repeat: repeat;
	background-color: #FFFFFF;
	margin: 0;
	font-family: 'PT Mono', monospace;	
	color: #0000FF;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

.blobs {
    content: "";
    position: absolute;
    background: rgba(0,0,255,1);
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
    pointer-events: none;
}

.blob-one {
    width: 10vmax;
    height: 10vmax;
    animation: morph 45s linear infinite alternate, spin 30s linear infinite;
}

.blob-one-clone {
    width: 25vmax;
    height: 25vmax;
    animation: morph 35s linear infinite alternate, spin 40s linear infinite;
}

.blob-two {
    width: 12vmax;
    height: 12vmax;
    animation: morph 30s linear infinite alternate, spin 15s linear infinite reverse;
}

/* Thanks to these folks for the cool chapes and animations https://9elements.github.io/fancy-border-radius/#75.45.25.65--. */
