---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .btn-blue {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;}
  100% {border-radius: 40% 60%;}
}

@keyframes morphx {
  0% {border-radius: 45% 55% 35% 65% / 75% 25% 75% 25%;}
  100% {border-radius: 25% 75%;}
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

body {
	background-color: #fff;
	margin: 0;
}

h1, h2, h3, h4, p {
	padding: 0px 20px;
}

.blobs {
    content: "";
    position: absolute;
    background: rgba(0,0,255,1);
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
    pointer-events: none;
	filter: blur(3px);
}

.blob-one {
    width: 30vmax;
    height: 30vmax;
    animation: morph 45s linear infinite alternate, spin 30s linear infinite;
}

.blob-two {
    width: 32vmax;
    height: 32vmax;
    animation: morphx 30s linear infinite alternate, spin 45s linear infinite reverse;
}

/* Thanks to these folks for the cool chapes and animations https://9elements.github.io/fancy-border-radius/#75.45.25.65--. */
