<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

	<body class="border-solid border-blue-450 border-8">

		<header class="border-solid border-blue-450 border-b-8">
			<div class="px-12 py-8 h-32">
			<img class="h-full mx-auto" src="assets/img/regender-xyz.svg" alt="regender.xyz in a cool typeface">
			</div>
		</header>

		<div class="relative overflow-hidden">
			<!-- blobs go here -->
			<div class="blobs blob-one absolute top-0 -right-28 md:-right-44"></div>
			<div class="blobs blob-one-clone absolute top-0 -right-28 md:-right-64"></div>
			<div class="blobs blob-two absolute bottom-16 -left-48 md:-left-72"></div>

		  {{ content }}

		</div>

		<footer class="grid grid-cols-6 gap-4 mb-32">
			<p class="col-start-2 col-span-4">regender.xyz was created by <a href="http://www.jsnhff.com/" title="Be kind. Be helpful.">Jason Huff</a> and Ekaterina Stambolieva.</p>
			<p class="col-start-2 col-span-4">Illustration by Raman Djafari.</p>

			<p class="col-start-2 col-span-4">MIT License</p>
		</footer>

    </body>
</html>
