<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  {% include head.html %}

	<body class="border-solid border-blue-450 border-8">

		<header class="border-solid border-blue-450 border-b-8 overflow-hidden relative">
			<div class="p-4">
				<img class="h-full mx-auto" src="assets/img/regender_xyz.svg" alt="regender.xyz in a cool typeface">
			</div>
			<div class="blobs blob-one absolute -top-16 -right-18 md:-right-24"></div>
			<div class="blobs blob-two absolute top-12 -left-18 md:-left-24"></div>
		</header>

		<div class="relative overflow-hidden">
			<!-- blobs go here -->

		  {{ content }}

		</div>

		<footer class="grid grid-cols-6 gap-4 mb-32">
			<p class="col-start-2 col-span-4">regender.xyz was created by <a href="http://www.jsnhff.com/" title="Be kind. Be helpful.">Jason Huff</a> and Ekaterina Stambolieva.</p>
			<p class="col-start-2 col-span-4">Animated illustration by <a class="underline" href="https://www.instagram.com/ramandjafari/" title="Raman Djafari's instagram">Raman Djafari</a>.</p>

			<p class="col-start-2 col-span-4">MIT License</p>
		</footer>

    </body>
</html>
